{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add Page{%endblock%}
{% block body_block %}		
		<!--<form method="post" action="/rango/category/{{category_name_slug}}/add_page/">-->
		<div class="page-header">
			<h1>Add A New Page</h1>
		</div>

		<form method="post" action="{% url 'add_page' category_name_slug %}">
			{% 	csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{hidden}}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
				<br />
			{% endfor %}

			<input type="submit" name="submit" value="Create Page" />

		</form>
{% endblock %}