{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{%endblock%}
{% block body_block %}
		<h1>Rango</h1>
		{% if user.is_authenticated %}
		<strong>Hey {{user.get_username}}!</strong>
		{% endif %}
		{% if categories %}
		<ul>
			{% for cat in categories %}
				<li><a href="{% url 'category' cat.slug %}">{{cat.name}}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<strong>There are no categories present!</strong>
		{% endif %}

		{% if pages %}
		<strong>Top {{numpage}} pages!!</strong>
		<ul>
			{% for page in pages %}
				<li><a href="{{page.url}}">{{page.title}}</a></li>
			{% endfor %}
		</ul>

		{% else %}
			<strong>There are no pages present!</strong>

		{% endif %}

		<br />
		<strong>Views : {{visits}}</strong>
{% endblock %}